{% load static %}
<!doctype html>
<html lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Food for all">

            <!--fonts-->
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet" type="text/css">



    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- individual css --> 
    <link id="changingcss" rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"></link>
    
    <body>


    <div class="flex-wrapper">
      <!--header-->
      <div class="header-bar">
          <div class="header-container">
                 <!--
              <div class="header-logo">
                  <a href="/"><img id = "lo" src="images/TamuLogo.png" alt='TAMU Logo' width="65" height="65"></a>
              </div> -->
              <div class="header-text">
                  <h1>&nbsp; <span class="link-Style-A"> <a href="">Food for All</a> </span> </h1>
              </div>
              <div class="header-menu" if = "right">
                  <div class="header-menu-button" onclick="window.location.href='index.html';">
                      <div style="display: table-cell; vertical-align: middle;">
                          <div>Home</div>
                      </div>
                  </div>
                  <div class="header-menu-button" onclick="window.location.href='post.html';">
                      <div style="display: table-cell; vertical-align: middle;">
                          <div>Donate Now! </div>
                      </div>
                  </div>


                  <div class="header-menu-button" onclick="window.location.href='index1.html';">
                    <div style="display: table-cell; vertical-align: middle;">
                        <div>Delivery Drivers</div>
                    </div>
                </div>
                <!--  <li><a onclick="setStylesheet('B')">Stylesheet B</a></li> -->
                </div>
          </div>
      </div>
    </div>
 
    
 

            <!--begin site-->
    <div class="main-container">
      <noscript> Enable JavaScript </noscript>


            <div class="background-image-container">  <!-- format the images -->
              <img id = "bac" src="images/background.jpg" alt="TAMU Campus" style="width:100%;">
          
          
    </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  </body>
</html>